<div class="leftpart">
  <h2><%= @horse.name %></h2>
  <table>
    <tr>
      <td rowspan="2"><strong><%= @horse.name %></strong></td>
      <td class="father"><%= @horse.father %></td>
    </tr>
    <tr>
      <td class="mother"><%= @horse.mother %></td>
    </tr>
  </table>
<p id="notice"><%= notice %></p>
<p>
  <strong>Gender:</strong>
  <%= @horse.gender %>
</p>

<p>
  <strong>Reward:</strong>
  <%= @horse.reward2 %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @horse.owner %>
</p>

<p>
  <strong>Stable:</strong>
  <%= @horse.stable %>
</p>
</div>
<%= link_to 'Back', users_path %>
